
@import 'settings';
@import '../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/variables';
@import '../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap';
$font-family: 'Neuton', serif;
$color-white: white;
$color-blue: #106DB3;
$border-color: grey;
$iron-yard-color: #202F37;
$iron-yard-text-color: #969DA1;

* {
    box-sizing: border-box;
}

img {
    height: 100%;
    margin-top: 15px;
    // margin-bottom: 12px;
}

body {
    font-family: $font-family;
}


.header-bar {
    text-align: center;
    // background-color: rgba(1, 95, 255, 0.4);
    background: linear-gradient(rgba(1, 95, 255, 0.4),rgba(1, 95, 255, 0.4)),url('https://unsplash.it/2000/500?image=385');
    background-size: cover;
    height: 42vw;

    h3 {
        // padding-top: 18px;
        color: $iron-yard-color;
    }
    h4 {
        color: $iron-yard-color;
        padding-top: 18px;
    }
    .navbar-brand {
        #logo {
            width: 50px;
            height: auto;
            // margin-top: 2px;
        }
        img {
            margin-top: -12px;
        }
    }
    .flip {
        transform: scale(-1, 1);
    }
}

#header-text {
    padding-top: 6vw;
    margin-bottom: -3vw;
    font-size: 9vw;
    // font-size: 130px;
    color: $color-white;
}
#header-subtext {
    // padding-top: -100px;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.main-left {
    padding-left: 15px;
    padding-right: 50px;
    // text-align: justify;
}
.big-ole-font {
    font-size: 5vw;
}

.padding-up-top-and-left{
    padding-top: 60px;
    width: 90vw;
    // margin-left: 20px;
}

h2, h3, h4, h5 {
    color: $color-blue;
    margin-top: 0;
}

h5 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.border-top {
    border-top: 1px solid $border-color;
}

.bottom-image {
    display: inline-block;
    padding: 0;
    // border: 1px solid black;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    background: linear-gradient($color-blue,$color-blue);
    img {
        width: 100%;
        opacity: .4;
        margin: 0 auto;
    }
    img:hover {
        opacity: 1;
        color: $color-white;
    }
    h1 {
        position: absolute;
        bottom: 0;
        left: 5px;
        // text-align-last: center;
    }
    &:hover {
        color: $color-white;
    }
}

.no-pad {
    padding: 0;
    margin: 0;
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background: $iron-yard-color;
    color: $iron-yard-text-color;
    // margin: 0 auto;
    a {
        color: $iron-yard-text-color;
    }
    img {
        width: 75px;
        height: auto;
    }
}

.little-image {
    width: 25px;
    height: auto;
}

.action-buttons {
    // border: 1px solid black;
    max-height: 40px;
    // margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 45px;
    background-color: lightgrey;

    .button-icon {
        width: 40px;
        height: 40px;
        background: $iron-yard-text-color;
        color: $color-white;
        display: inline-block;
        // border: 1px solid black;
    }
    .button-text {
        max-width: 150px;
        width: auto;
        padding-left: 5px;
        display: inline-block;
    }
}

#small-round {
    border-radius: 55px;
    width: 25px;
}
#large-round {
    border-radius: 55px;
    width: 100px;
}

#extra-bottom-margin {
    margin-bottom: 4vw;
}
.blue {

    background: linear-gradient($color-blue,$color-blue);
    // border-radius: 55px;
    // width: 25px;
    height: auto;
    img {
        width: 100%;
        opacity: .4;
        margin: 0 auto;
    }
    img:hover {
        opacity: 1;
    }

}
